# FastAPI and Backend Dependencies
fastapi
uvicorn
pydantic-settings
SQLAlchemy
passlib[argon2]
argon2-cffi
python-multipart
python-dotenv
asyncpg
psycopg2-binary
alembic
cryptography
jwcrypto
pydantic[email]
httpx

# AI Model Dependencies
tensorflow
scikit-learn
xgboost
joblib
pandas
numpy
